.Banner {
  display: flex;
  background-color: #374466;
  color: #A88E0A;
}

.BannerTitle {
  margin: 0.3em;
  display: flex;
}


.Background {
  display: flex;
}

.HomeForms {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Location {
  margin: 1em 1em 0.5em 1em;
}

.FindLocationButton {
  margin-left: 1em;
}

.Search {
  margin: 0.5em 1em;
}

.SearchButton {
  margin-left: 1em;
}